@using Microsoft.AspNetCore.Http;

@{
    Layout = null;
    string fullname = Context.Session.GetString("fullname");
    string type = Context.Session.GetString("type");

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="SHORTCUT ICON" href="~/Image/logoanasayfa2.png">
    <title>PERSONEL TAKİP OTOMASYONU</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-master/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-master/dist/css/adminlte.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminLTE-master/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE-master/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE-master/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                        <a href="~/AdminLTE-master/index3.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link">Contact</a>
                    </li>*@
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>



                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-user"></i>

                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">Hesap</span>
                        <div class="dropdown-divider"></div>
                        <a href="/Profile/Index" class="dropdown-item">
                            <i class="fas fa-user-cog mr-2"></i> Bilgilerim
                        </a>
                        <div class="dropdown-divider"></div>
                      
                        <div class="dropdown-divider"></div>
                        <a href="/Login/LogOut" class="dropdown-item">
                            <i class="fas fa-sign-out-alt mr-2"></i> Çıkış Yap
                        </a>
                        <div class="dropdown-divider"></div>
                      
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/Welcome/Index" class="brand-link">
                <img src="~/AdminLTE-master/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                @if (type == "True")
                {
                    <span class="brand-text font-weight-light">Admin Paneli</span>

                }
                else
                {
                    <span class="brand-text font-weight-light">Personel Paneli</span>

                }
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Image/logoanasayfa2.png" class="img-circle " alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@fullname</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->

                        @if (type == "True")
                        {
                            <li class="nav-item">
                                <a href="/Profile/Index" class="nav-link">
                                    <i class="nav-icon fas fa-user-cog"></i>
                                    <p>
                                        Hesap Ayarları
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-users"></i>
                                    <p>
                                        Personel İşlemleri
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/User/Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Personel Listesi</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/User/Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Personel Ekle</p>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-building"></i>
                                    <p>
                                        Departman İşlemleri
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/Department/Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Departman Listesi</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Department/Create" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Departman Ekle</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fas fa-arrow-circle-right"></i>
                                    <p>
                                        Hareket Tipi İşlemleri
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/ActionType/Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Hareket Tipi Listesi</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/ActionType/Create" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Hareket Tipi Ekle</p>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fas fa-arrow-up"></i>
                                    <p>
                                        Hareket İşlemleri
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/PersonalAction/Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Hareket Listesi</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/PersonalAction/Create" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Hareket Ekle</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Report/Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Raporlar</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }


                        @if (type != "True")
                        {
                            <li class="nav-item">
                                <a href="/Profile/Index" class="nav-link">
                                    <i class="nav-icon fas fa-user-cog"></i>
                                    <p>
                                        Kişisel Bilgiler
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fas fa-arrow-up"></i>
                                    <p>
                                        Hareket İşlemleri
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/Action/Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Hareket Listesi</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Action/Create" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Hareket Ekle</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fas fa-file-archive"></i>
                                    <p>
                                        Rapor İşlemleri
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/PersonalReport/Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Rapor Listesi</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/PersonalReport/Create" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Rapor Ekle</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li class="nav-item">
                            <a href="/Login/LogOut" class="nav-link">
                                <i class="nav-icon fas fa-door-open"></i>
                                <p>
                                    Çıkış Yap
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                @*<img class="float-right" style="width:22%;" src="~/Image/logoanasayfa2.png" />*@
                <a class="float-right" href="https://sedattungac.com/" target="_blank"><img style="width:20%" class="float-right" src="~/Image/logoanasayfa1.png" /></a>
            </div>
            <strong>Copyright &copy;2021.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>*@
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/AdminLTE-master/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE-master/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE-master/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE-master/dist/js/demo.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/AdminLTE-master/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE-master/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-master/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminLTE-master/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-master/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminLTE-master/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-master/plugins/jszip/jszip.min.js"></script>
    <script src="~/AdminLTE-master/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminLTE-master/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminLTE-master/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminLTE-master/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminLTE-master/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
