@model PersonelTakipOtomasyonu.Models.Entity.ActionType

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br />

<h4>Aksiyon Tipi Düzenleme Sayfası</h4>
<hr />
<div class="row">
    <div class="container-fluid col-11">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ActionTypeId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"> Aksiyon Tipi Adı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="float-left">
                    <a class="btn btn-dark" asp-action="Index"><i class="fas fa-arrow-left"></i> Listeye Geri Dön</a>
                </div>
                <div class="float-right">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>

