@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    string fullname = Context.Session.GetString("fullname");
}
<div class="container" style="height:73vh;">
    <div style="height:100%" class="d-flex flex-column justify-content-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="/Image/logoanasayfa2.png">
        </div><div class="mt-1 d-flex flex-column justify-content-center align-items-center">
            <h2>Personel Takip Otomasyonu</h2>
            <h4>Hoşgeldin @fullname </h4>
        </div>

    </div>

</div>



